.containerItemDetail {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.containerImage {
  flex: 1;
  text-align: center;
}

.containerImage img {
  max-width: 100%;
  height: auto;
}

.containerDetail {
  flex: 1;
  margin-left: 20px;
}

.containerDetail h2 {
  font-family: monospace;
  margin-bottom: 10px;
}

.containerDetail h2 span {
  font-size: 23px;
}
