.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.cardMedia {
  padding-top: 56.25%; 
  border-radius: 10px;
}

.cardContent {
  flex-grow: 1;
  text-align: center;
}

.cardActions {
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
}